<a href="https://colab.research.google.com/github/edilmita/edilmita/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# # Pre-Processing

# In[1]:


# import the library
import pandas as pd


# In[2]:


# load the training dataset
df_train  = pd.read_csv('/content/Framingham_Training.csv')

# display few rows
df_train


# In[3]:


# Standardization of Age column using z-score method
df_train['Age'] = (df_train['Age'] - df_train['Age'].mean()) / df_train['Age'].std() 
df_train


# In[4]:


# Get Sex and Age column for clustering
X_train = df_train[['Sex','Age']].values
X_train


# # Q.1

# In[5]:


# build K-Means model
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters =2 , random_state = 42)
y_kmeans_train = kmeans.fit_predict(X_train) # fit and predict for X_train
y_kmeans_train


# # Q.2

# In[6]:


cluster1 = X_train[y_kmeans_train == 0] # get data for cluster 1
cluster2 = X_train[y_kmeans_train == 1] # get data for cluster 2


# In[7]:


cluster1 # display cluster1 data for training data


# In[8]:


cluster2 # display cluster2 data for training data


# In[9]:


# summary statistics for cluster1
cluster1_train_summary = pd.DataFrame(cluster1 ,columns=['Sex','Age'])
cluster1_train_summary.describe()


# In[10]:


# summary statistics for cluster2
cluster2_train_summary = pd.DataFrame(cluster2 ,columns=['Sex','Age'])
cluster2_train_summary.describe()


# -  Cluster1 consists of 4336 combinations of Sex and Age ,Although cluster2 consists of 3617 combinations of Sex and Age

# # Q.3

# In[11]:


# load test data
df_test  = pd.read_csv('/content/Framingham_Test.csv')
df_test


# In[12]:


# Standardization of Age column using z-score method
df_test['Age'] = (df_test['Age'] - df_test['Age'].mean()) / df_test['Age'].std() 
df_test


# In[13]:


# Get Sex and Age column for clustering
X_test = df_test[['Sex','Age']].values
X_test


# In[14]:


y_kmeans_test = kmeans.predict(X_test) # predict using X_test
y_kmeans_test


# # Q.4

# In[15]:


# get data for cluster 1
cluster1 = X_test[y_kmeans_test == 0]

# get data for cluster 2
cluster2 = X_test[y_kmeans_test == 1]


# In[16]:


cluster1 # display cluster1 for test data


# In[17]:


cluster2 # display cluster2 for test data


# In[18]:


# summary statistics for cluster1
cluster1_test_summary = pd.DataFrame(cluster1 ,columns=['Sex','Age'])
cluster1_test_summary.describe()


# In[19]:


# summary statistics for cluster2
cluster2_test_summary = pd.DataFrame(cluster2 ,columns=['Sex','Age'])
cluster2_test_summary.describe()


# # Are your clusters validated?
# 
# - Yes, because we have predicted the clustering of test data using the same K-Means 
#Model that was earlier trained using Training set.

# build K-Means model
#from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters =3 , random_state = 42)
y_kmeans_train = kmeans.fit_predict(X_train) # fit and predict for X_train
y_kmeans_train


cluster5 = X_train[y_kmeans_train == 3] # get data for cluster 
cluster5 # display cluster3 data for training data


# summary statistics for cluster1
cluster5_train_summary = pd.DataFrame(cluster3 ,columns=['Sex','Age'])
cluster5_train_summary.describe()

               Sex          Age
count  1012.000000  1012.000000
mean      1.591897     0.924503
std       0.491725     0.570430
min       1.000000     0.138444
25%       1.000000     0.447613
50%       2.000000     0.859838
75%       2.000000     1.272064
max       2.000000     2.714854