<a href="https://colab.research.google.com/github/edilmita/edilmita/blob/main/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
bank_train=pd.read_csv("/content/bank.csv")
#3 write the absolute or relative address of your file bank_marketing training

#bank_train.head()

In [ ]:
#4  Run the code ----pd.crosstab(bank_train[previous_outcome'], bank train[response']) then show the output
pd.crosstab (bank_train['poutcome'],bank_train['deposit'])

deposit     no   yes
poutcome
failure    610   618
other      230   307
success     93   978
unknown   4940  3386

In [ ]:
#5  create a contingency table in Python and saving the output under the name crosstab et
cross_tab01=pd.crosstab (bank_train['poutcome'],bank_train['deposit'])

In [ ]:
# Run crosstab_01 to show the output
cross_tab01

deposit     no   yes
poutcome
failure    610   618
other      230   307
success     93   978
unknown   4940  3386